@model projectcv.Models.Entity.TBLINTEREST
@{
    ViewBag.Title = "HobiGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Hobiler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ID)
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.INTEREST)
        @Html.TextBoxFor(m => m.INTEREST, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Hobiyi Güncelle</button>
    </div>
}

