@using projectcv.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLINTEREST>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID </th>
            <th>HOBİ </th>
            <th>SİL</th>
            <th>GÜNCELLE</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.INTEREST</td>
                <td>@Html.ActionLink("Sil ", "Sil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" })</td>
                <td><a href="/Hobiler/HobiGetir/@x.ID" class="btn btn-success">GÜNCELLE</a></td>


            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Hobiler/YeniHobi/" class="btn btn-info">Yeni Hobi Ekle</a>


