
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <form class="form-group" method="post">
        <div>
            <label>YETENEK</label>
            <input type="text" class="form-control" name="SKILL" />
        </div>
        <br />
      
        <button class="btn btn-primary">Kaydet</button>
    </form>

