@model projectcv.Models.Entity.TBLAWARDS
@{
    ViewBag.Title = "SSGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "SS", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ID)
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.AWARD)
        @Html.TextBoxFor(m => m.AWARD, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Sertifika ve Seminer güncelleme Güncelle</button>
    </div>
}

