
@{
    ViewBag.Title = "YeniSS";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <form class="form-group" method="post">
        <div>
            <label>Seminerler ve Sertifikalar</label>
            <input type="text" class="form-control" name="AWARD" />
        </div>
        <br />

        <button class="btn btn-primary">Kaydet</button>
    </form>


